body{
    margin: 0px;
    padding: 0px;
}
.navber{
    background-color: #1A187A;
}
.logo{
    width: 100px;
}   

.box-shadow{
    background-color: #EDEDED;
    margin: 5px;
}

.backgound_image {
    background-image: url(Image/carosal.png);
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .backgound_image image {
    width: 30%;
  }
  .home {
    margin-top: -325px !important;
    margin-left: 200px !important;
  }
  .home h1 {
     display: inline;
    color: black;
    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    line-height: 70px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10px;
  }
  .home h2{
    display: inline;
    color: black;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10px;
    margin-left: 10px;
  }
  .first_p_home {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #1e046a;
    padding-top: 10px;
    opacity: 0.5;
  }
  .second_p_home {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 10px;
  }
  .btn_of_home {
    display: inline-flex;
    color: white;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: none;
    background: #171495;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 20px;
  }
  .home_img img {
    margin-top: 60px !important;
  }
  
  .img_of_iphone {
    margin-right: 50px !important;
  }

  .product_section_container {
    margin: 0px;
    padding: 0px;
  }
  
  .product_one {
    width: 50%;
    height: 320px;
    /* padding: 0px !important; */
    /* margin: 0px !important; */
    background: white;
  }
  .product_two {
    /* padding: 0px !important; */
    /* margin: 0px !important; */
    width: 50%;
    height: 270px;
    background: #adc2d7;
  }
  .product_three {
    width: 50%;
    height: 590px;
    background: #ededed;
    color: black;
  }
  .product_info_one_img img {
    width: 450px;
    height: 343px;
    top: 45px;
    right: 140px;
  }
  .product_info_one_text h2 {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 45px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    align-self: stretch;
  }
  
  .product_info_one_text p {
    color: #909090;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .product_info_one_text {
    margin-top: 100px !important;
    margin-left: -50px;
  }
  
  .product_info_two_img img {
    width: 560px;
    height: 560px;
    left: -190px;
    top: -150px;
  }
  .product_info_two_text h2 {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 26px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    align-self: stretch;
  }
  
  .product_info_two_text p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .product_info_two_text {
    margin-top: 39px !important;
    padding-left: 119px !important;
  }
  b {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 35px !important;
    font-style: normal;
    font-weight: bolder;
    line-height: 40px;
    align-self: stretch;
  }
  .product_info_three_img img {
    top: 65px;
    width: 659px;
    height: 470px;
    left: 100px;
  }
  .product_info_three_text h2 {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 60px !important;
    font-style: normal;
    font-weight: 100;
    line-height: 35px;
    align-self: stretch;
  }
  .product_info_three_text p {
    color: #909090;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-right: -50px;
    margin-bottom: 25px;
  }
  .product_info_three_text h2 b {
    display: block !important;
    padding-top: 23px !important;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 65px !important;
    font-style: normal;
    font-weight: bolder;
    line-height: 35px;
    align-self: stretch;
    padding-bottom: 20px !important;
  }
  .product_info_three_text {
    padding-left: 60px;
    margin-top: 65px;
  }
  .product_info_three_text button {
    padding: 16px 56px;
    text-align: center;
    gap: 8px;
    border: none;
    border-radius: 6px;
    background-color: #27448e;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
  }


.category_main_container {
    padding: 80px 160px;
    gap: 32px;
    background: #fafafa;
  }
  
  .title h2 {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.24px;
  }
  .category_next_prev img {
    width: 32px;
    height: 32px;
  }
  .icons img {
    width: 45px;
    height: 46px;
  }
  .icon_name h4 {
    color: black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .icon_container {
    width: 160px;
    height: 128px;
    min-width: 135px;
    padding: 24px 0px;
    border-radius: 16px;
    background: #ededed;
    gap: 8px;
    margin: 10px 15px;
  }
  

  .Arrival_main_container {
    margin: 10px 10px;
    padding: 56px 160px;
    gap: 32px;
    background: white;
  }
  .title_section {
    position: relative;
    left: -360px;
    top: 23px;
  }
  .title_section h4 {
    color: black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 177.778% */
  }
  
  .love {
    width: 25px;
    height: 25px;
    margin-left: 206px;
    margin-top: 18px;
    opacity: 0.5;
  }
  .card_img {
    width: 140px;
    height: 140px;
  }
  .card {
    width: 270px;
    height: 410px !important;
    margin: 10px 10px;
    border-radius: 9px;
    background: #ededed !important;
    border: none  !important;
  }
  .card_details {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 15px;
  }
  .container_card_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .details {
    color: var( #000);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  .dollar {
    align-self: stretch;
    color: black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px !important;
    font-style: italic;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: 0.72px;
  }
  .card_button {
    display: flex;
    padding: 8px 0px;
    margin: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: black;
    color: white;
  }
  
  /* Sale section */
  .Sale_main_container {
    background: #958ad4;
    height: 475px;
  }
  .frist_image img {
    position: relative;
    right: 120px;
    width: 400px;
    height: 322px;
    flex-shrink: 0;
  }
  .second_image img {
    position: relative;
    left: 200px;
    width: 500px;
    height: 357px;
    flex-shrink: 0;
  }
  .details_sale h1 {
    display: inline;
    color: #25177b;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.72px;
    margin-right: 10px;
  }
  .sale {
    display: inline;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.72px;
  }
  .details_sale p {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  

  .main_container_footer {
    background: #0e071b;
    padding: 104px 160px;
    gap: 24px;
  }
  .logo_of_page img {
    width: 228px;
    height: 47px;
  }
  .icons_of_social img {
    width: 25px;
    height: 25px;
      margin: 0px 20px;
  
  
  }
  .services h5 {
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 16px;
  }
  .services p {
    align-self: stretch;
    color: #cfcfcf;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
  }
  .buyer h5 {
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 16px;
  }
  .buyer p {
    align-self: stretch;
    color: #cfcfcf;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
  }
  
  @media screen and (max-width: 500px) {
    /* navbar section  */
    .navbar {
      width: 100% !important;
    }
    .container-fluid {
      margin-right: 20px !important;
      padding: 0px !important;
    }
    .navbar-nav {
      margin-left: 0px !important;
      padding: 0px !important;
    }
    .icon {
      display: none;
    }
    .logo {
      width: 140px;
      margin-left: 10px;
    }
  
    /* Home section  */
    .backgound_image {
      width: 425px;
      height: 550px;
    }
    .carousel-control-prev {
      margin-top: 70px !important;
      margin-bottom: 60px !important;
    }
    .carousel-control-prev svg {
      margin-right: 38px !important;
      height: 25px !important;
    }
    .carousel-control-next {
      margin-top: 70px !important;
      margin-bottom: 60px !important;
    }
    .carousel-control-next svg {
      margin-left: 25px !important;
      height: 25px !important;
    }
    .responsive {
      flex-direction: column;
    }
    .img_of_iphone {
      position: absolute;
      width: 264px !important;
      top: 240px;
      left: 38px;
    }
    .home {
      margin-top: 0px !important;
      margin-left: 0px !important;
    }
    .home{
      position: absolute;
      align-items: center;
      text-align: center;
  
    }
    .home h1{
      font-size: 45px;
    }
    .home h2{
      font-size: 43px;
    }
    .second_p_info_home{
      font-size: 13px;
      font-weight: 500;
    }
    .first_p_info_home {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 10px;
      padding-top: 30px;
      padding-bottom: 0px;
      margin-bottom: 0px;
  }
    .btn_of_home{
      display: none;
    }

    .product_section_container {
      display: flex;
      flex-direction: column;
    }
  

    .category_main_container {
      display: flex;
      flex-direction: column;
      padding: 0px;
      margin: 0px;
    }
    .title h2 {
      padding-top: 100px;
      padding-left: 70px;
    }
    .category_next_prev {
      display: none;
    }
    .category_icons {
      flex-direction: column;
    }
    .icon_container {
      width: 330px;
      height: 200px;
      padding-top: 45px;
    }
    .icons img {
      width: 80px;
      height: 80px;
    }
    .icon_name h4 {
      font-size: 17px;
    }
    .product_info_one {
      flex-direction: column;
    }
    .product_info_three_text p {
      margin-right: 0px;
    }
    .product_info_three_text h2 {
      font-size: 50px !important;
      line-height: 30px;
    }
    .product_info_three_text h2 b {
      font-size: 50px !important;
      line-height: 30px;
    }
    .product_info_three_text button {
      padding: 15px 45px;
      
    }
    .product_three {
      height: 700px;
    }
    .product_info_three_img img {
      top: 65px;
      width: 414px;
      height: 250px;
      left: 0;
    }
    .product_two {
      width: 100vw;
      height: 50vh;
    }
    .product_info_two_img img {
      width: 391px;
      height: 353px;
      left: -254px;
      top: -40px;
    }
    .product_two {
      position: relative;
    }
    .product_info_two_text {
      padding-top: 81px !important;
      padding-left: 119px !important;
      position: absolute;
      top: -40px;
      left: 50px;
    }
  
    .responsive_need {
      display: flex !important;
      flex-direction: column-reverse;
    }
    .product_info_two_text h2 {
      font-size: 23px !important;
    }
    .product_info_two_text p {
      font-size: 12px !important;
      padding-right: 30px;
    }
    .product_one {
      width: 100vw;
      height: 60vh;
    }
    .product_info_one_text {
      position: absolute;
      left: 166px;
      top: -50px;
      padding: 2px 122px !important;
    }
    .product_info_one_img img {
      width: 362px;
      height: 270px;
      top: 103px;
      right: 61px;
    }
    .product_info_one_text h2 {
      font-size: 35px !important;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
    }
    .product_info_one_text p {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
    }

    .Sale_main_container {
      flex-direction: column !important;
    }
  
    .main_container_footer {
      position: relative;
      flex-direction: column;
      align-items: normal !important;
    }
    .logo_of_page img {
      position: relative;
      left: -62px;
    }
    .icons_of_social {
      position: absolute;
      top: 710px;
      left: 83px;
    }
    .services,
    .buyer {
      position: relative;
      width: 220px;
      text-align: center;
      right: 50px;
    }
    .frist_image img{
      width: 255px;
      height: 207px;
      left: 30px;
      top: -45px;
    }
    .Sale_main_container {
      height: 775px;
  }
  .details_sale h1{
      font-size: 60px;
  }
  .details_sale p{
      font-size: 14px;
      line-height:25px;
      padding: 10px;
  }
  .sale{
      font-size: 60px;
  }
  .second_image img{
      top: 29px;
      width: 384px;
      height: 240px;
      left:180px;
  }
  .card_section {
      flex-direction: column;
  }
  .title_section{
      left: 0px;
  
  }
  }